body {
  width: 600px;
  margin: 0 auto; 
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
}

form input {
  font-size: 100%;
  padding: .6em;
  border: 1px solid #ccc;
}

button {
  background-color: #2098D1;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 100%;
  color: #fff;
  padding: .6em 1.2em;
  cursor: pointer;
  margin: 0 .3em;
  outline: none;
}

ul {
	list-style-type: none;
	padding: 0px;
}


li {
	background-color: #e1e1e1;
	margin-bottom: 5px;
	padding: 20px;
	xborder: 1px solid #ccc;
	xheight: 45px;
	xtext-align: center;
}

a {
	float: right;
	margin-right: 10px;
	xpadding: 15px;
	xtext-align: center;
	xheight: 45px;
}

.delete_task {
	background-color: #e1e1e1;
}

.done_task {
	background-color: #e1e1e1;
}

.edit_task {
	background-color: #e1e1e1;
}

.delete_task:hover {
	background-color: red;
}

.done_task:hover {
	background-color: green;
}

.edit_task:hover {
	background-color: #F9ED41;
}

.completed {
	opacity: 0.4;
}





