body {
  width: 600px;
  margin: 0 auto; 
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
}

form input {
  font-size: 100%;
  padding: .6em;
  border: 1px solid #ccc;
}

#add_button {
  background-color: #49a5bf;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 100%;
  color: #fff;
  padding: .6em 1.2em;
  cursor: pointer;
  margin: 0 .3em;
  outline: none;
}

ul {
	list-style-type: none;
	padding: 0px;
}


li {
	xbackground-color: #e1e1e1;
	margin-bottom: 5px;
	padding: 20px;

	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}

a {
	float: right;
	margin-left: 21px;
	margin-right: -20px;
	margin-top: -20px;
	padding: 20px 15px;
}

.title {
	margin: 0px;
}

.delete_task, .done_task, .edit_task {
	background: rgba(226,226,226,1);
}

.xdone_task {
	background-color: #e1e1e1;
}

.xedit_task {
	background-color: #e1e1e1;
}

.delete_task:hover {
	background-color: red;
}

.done_task:hover {
	background-color: green;
}

.edit_task:hover {
	background-color: #F9ED41;
}

.completed {
	opacity: 0.4;
}

.edit_input {
	display: none;
	font-size: 16px;
}





